.navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    list-style: none;
    z-index: 100;
    height: var(--navbar-height);
}

.navbar-item {
    font-size: 1.5rem;
    padding: 0 1rem;
}

.nav-dropdown {
    display: inline;
    background-color: white;
    position: absolute;
    list-style: none;
    top: var(--navbar-height);
    right: 0;
    padding: 1rem;
    z-index: 99;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.down {
    transform: translateY(0%);
}