.navbar {
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    list-style: none;
    z-index: 100;
    height: var(--navbar-height);
}

.navbar-item {
    font-size: 1.5rem;
}

.nav-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--navbar-color);
    position: absolute;
    top: var(--navbar-height);
    left: 0;
    z-index: 99;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    width: calc(var(--navbar-dropdown-width) + 2rem);
    border-radius: 0 0 6.25rem 6.25rem;
    padding-top: var(--navbar-dropdown-width);
    justify-content: center;
}

.down {
    transform: translateY(0%);
}

.nav-image {
    height: var(--navbar-dropdown-width);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--navbar-color);
    padding: 1rem;
    border-radius: 6.25rem;
}