.dark {
  color: white;
  background-color: black;
}

.light {
  color: black;
  background-color: white;
}

.dark,
.light {
  height: calc(100% - var(--navbar-height));
  padding: var(--navbar-height) 0 0 0;
}